body {
  margin: 0;
}

nav {
  height: 2.5em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 50em;
  margin: 5em auto 0;
}

section {
  margin: 0 0 3em;
}

h2 {
  font-size: 1.2em
}

.card-login {
  max-width: 25em;
  margin: 0 auto;
  padding: 1.5em;
  background-color: lightgray;
}

.contest-list {
  display: flex;
}

.contest-preview {
  margin: 0 2em;
}

.leaderboards { display: flex; flex-wrap: wrap }
.leaderboards h2 { display: block; flex: 0 1 100% }

.leaderboards ul {
  list-style-type: decimal;
}

.leaderboards ul li { padding: .5em }
.leaderboards ul li span { float: right }

.leaderboards .board {
  flex: 3;
}
